<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privatecord | Error 404</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-errors.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="wrapper">
        <div class="ghost-box">
            <h2>4</h2>
            <div class="ghost">
                <div class="face">
                    <div class="eyes">
                        <span></span><span></span>
                    </div>
                    <div class="mouth"></div>
                </div>
    
                <div class="hands">
                    <span></span><span></span>
                </div>
        
                <div class="feet">
                    <span></span><span></span><span></span><span></span>
                </div>
            </div>
            <h2>4</h2>
        </div>

        <h1>Oops! We couldn't find that page</h1>
        <p>Maybe you can find what you need here?</p>
        <div class="buttons">
            <a href="#">Homepage</a>
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
</body>
</html>